body {
  background-color: rgba(2, 10, 65, 1);
  background-image: url(../img/contact_bg-v9.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Work Sans', 'Helvetica', 'Arial', 'sans-serif';
}

body p {
  font-weight: 300;
}

.nav a, .btn {
  font-family: 'GT-Pressura-Mono-Light', monospace;
}

header, footer {
  background-color: transparent;
  overflow: hidden;
}

@media (min-width: 768px) {
  header {
    min-height: 650px;  
  }
}

.bg-primary {
  background: transparent;
}

.navbar-toggle {
  margin: 6px;
  font-size: inherit;
  padding: 5px 15px;
  line-height: 1em;
}

header svg {
  margin-left: -60px;
}

.logo {
  position: relative;
}
.navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-nav {
    margin: 7.5px -15px;
  }
}

#mainNav {
  border-color: transparent;
  background-color: rgba(2, 10, 65, 1);
  color: #FFFFFF;
}

.logo svg {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(6px, -96px);
  z-index: -1;

  -moz-transition: transform 150ms cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: transform 150ms cubic-bezier(0.4,0.0,1,1);
  transition: transform 150ms cubic-bezier(0.4,0.0,1,1);
}

.circle-hiding .logo svg {
  transform: translate(6px, -5px);
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

.logo {
  margin-top: -1.8em;
}

.circle-hiding #mainNav {
  background-color: rgba(2, 10, 65, 1);
}

.navbar-nav {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-brand {
  font-size: inherit;
}

.logo::before,
.logo::after {
  line-height: 3.2em;
  font-size: 1.4em;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.logo::before {
  font-family: 'GT-Pressura-Mono-Light', monospace;
  font-weight: normal;
  content: 'Houston';
  color: #FFFFFF;
}

.logo::after {
  font-family: 'GT-Pressura-Bold', sans-serif;
  font-weight: normal;
  content: ' Hackathon';
  color: #E55454;
}

::selection {
  background: #E55454; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #E55454; /* Gecko Browsers */
}

.youtube-video-thumb {
  position: relative;
  background: url(../img/video.png);
  background-size: cover;
}

.youtube-video-thumb iframe {
  display: none;
  opacity: 0;
  -moz-transition: opacity 1s cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: opacity 1s cubic-bezier(0.4,0.0,1,1);
  transition: opacity 1s cubic-bezier(0.4,0.0,1,1);
}

.youtube-video-thumb.active iframe {
  opacity: 1;
  display: block;
}

.youtube-video-thumb .ytp-large-play-button {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  left: 0;
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube-video-thumb .ytp-large-play-button:focus {
  outline-width: 0.5px;
}

.ytp-large-play-button-bg {
  -moz-transition: fill 50ms cubic-bezier(0.4,0.0,1,1),fill-opacity 50ms cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: fill 50ms cubic-bezier(0.4,0.0,1,1),fill-opacity 50ms cubic-bezier(0.4,0.0,1,1);
  transition: fill 50ms cubic-bezier(0.4,0.0,1,1),fill-opacity 50ms cubic-bezier(0.4,0.0,1,1);
  fill: #1f1f1f;
  fill-opacity: .81;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: rgba(200, 200, 200, 1);
  color: #0624C1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgba(200, 200, 200, 1);
  // color: #E55454;
}

.navbar-btn {
  font-size: inherit;
  padding: 5px 15px;
  line-height: 1em;
  margin-left: 30px;
}


.youtube-video-thumb:hover .ytp-large-play-button-bg {
  // fill: #cc181e;
  // fill: #0624C1;
  fill-opacity: 1;
  fill: rgba(200, 200, 200, 1);
}

.youtube-video-thumb:hover .ytp-large-play-button-main,
.youtube-video-thumb:hover .ytp-large-play-button-shadow {
  fill: #0624C1;
}

.youtube-video-thumb .ytp-large-play-button svg {
  width: 12%;
}

#about-and-faq {
  background: rgba(255, 255, 255, 0.85);
}

#about-and-faq .intro {
  font-size: 24px;
}

.features {
  margin-top: 60px;
  margin-bottom: 60px;
}

#workshops, #schedule {
  color: #FFF;
  background-color: rgba(2, 10, 65, 1);
  background-image: none;
  border-top: 2px solid #E55454;
  border-bottom: 2px solid #E55454;
  // background-image: linear-gradient(to right, rgba(1, 12, 65, 1) -70%, rgba(3, 23, 128, 1) 40%, rgba(39, 29, 118, 1) 75%, rgba(233, 61, 61, 1) 150%);
}

#workshops .container-fluid {
  max-width: 1170px;
}

#workshops .list-group {
  max-width: 480px;
  margin: auto;
}

@media (min-width: 960px) {
  #workshops .col-md-4 {
    width: 33.33333333%;
    float: left;
  }
}

#workshops .section-heading,
#workshops p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#workshops a:not([class]):hover,
#workshops a:not([class]):focus {
  color: #E55454;
}

.features .feature {
  margin-bottom: 100px;
}

a:not([class]) {
  color: inherit;
  text-decoration: underline;
}

a:not([class]):hover {
  // color: rgba(229, 84, 84, 1);
  color: rgba(6, 36, 193, 1);
}

header .btn {
  margin-right: 15px;
}

#contact {
  color: #FFFFFF;
}

#contact h2 {
  font-family: 'GT-Pressura-Mono-Regular', monospace;
}

.btn,
.navbar-default .navbar-toggle.btn[aria-expanded=false], 
.navbar-default .navbar-toggle.btn[aria-expanded=false]:focus {
  text-transform: none;
  border-radius: 0;
  text-decoration: none;
  background: rgba(200, 200, 200, 0.25);
  color: inherit;
  border-color: inherit;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-collapse {
  border-top: inherit;
}

.btn:hover,
.btn:focus,
.btn:active,
.navbar-default .navbar-toggle.btn[aria-expanded=true],
.navbar-default .navbar-toggle.btn[aria-expanded=false]:hover,
.list-group-item .btn.btn-outline:hover,
.list-group-item .btn.btn-outline:focus,
.list-group-item:hover .btn.btn-outline {
  color: rgba(6, 36, 193, 1);
  border-color: rgba(6, 36, 193, 1);
  background-color: rgba(200, 200, 200, 1);
  outline: none;

  -webkit-box-shadow: 0.45em 0.45em 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0.45em 0.45em 0px 0px rgba(0, 0, 0, 1);
  box-shadow: 0.45em 0.45em 0px 0px rgba(0, 0, 0, 1);
}

// .btn-outline:hover,
// .btn-outline:focus,
// .btn-outline:active,
// .btn-outline.active {
//   background-color: transparent;
// }

.btn-xl {
  padding: 20px;
  font-size: 1.2em;
}

#schedule {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 50px;
  background-size: 42%;
  background-image: url(../img/hh2016.gif);
}

#schedule ul {
  padding: 0;
  list-style: none;
}

#schedule li {
  margin-bottom: 2em;
  display: block;
}

#schedule li::after {
  clear: both;  
  display: table;
  content: " ";
}

#schedule h1, #schedule h2 {
  background: rgba(2, 10, 65, 0.9);
}

#schedule .time {
  text-align: right;
  color: #E55454;
  font-weight: 200;
  font-family: 'GT-Pressura-Mono-Light', monospace;
  background: rgba(2, 10, 65, 0.9);
}

#schedule .description {
  box-sizing: border-box;
  background: rgba(2, 10, 65, 0.9);
}

#schedule .description strong {
  color: #E55454;
  font-weight: 500;
}

#schedule .fixed-top {
  position: fixed;
  width: 449px;
  left: inherit;
  height: 250px;
  top: 80px;
}

#schedule {
  padding: 0;
}

#schedule .schedule {
  padding: 100px 0;
}



@media (max-width: 767px) {
  .container .navbar-collapse.in,
  .container-fluid .navbar-collapse.in,
  .container .navbar-collapse.collapsing,
  .container-fluid .navbar-collapse.collapsing {
    width: 118px;
    margin-left: auto;
    text-align: right;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgba(2, 10, 65, 1);
  }

  #menu {
    margin-top: 0;
  }

  #menu.nav > li > a{
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .circle-hiding #mainNav {
    background-color: transparent;
  }

  .circle-hiding #mainNav .navbar-header {
    background-color: rgba(2, 10, 65, 1);
  }

  .logo::before,
  .logo::after {
    position: absolute;
    z-index: 1;
  }

  .logo svg {
    z-index: 0;
  }

  .logo::after {
    left: 118px;
  }
}

.list-group-item {
  margin-bottom: 20px;
}

.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: #E55454;
  font-weight: 500;
  margin-bottom: 0;
}

#workshops .list-group-item p,
#workshops .list-group-item i {
  font-size: 0.8em;
  display: block;
}

#workshops .list-group-item .details {
  display: none;
}

.list-group-item .btn.btn-outline {
  font-size: inherit;
  line-height: inherit;
  border-color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 420px) {
  .btn-xl {
    font-size: 1em;
  }
}

@media (max-width: 1200px) {
  .youtube-video-thumb {
    margin-bottom: 20px;
  }

  #about-and-faq {
    text-align: center;
  }

  header .btn {
    margin-bottom: 20px;
    margin-right: 0;
    // font-size: 18px;
  }
  section.features .section-heading {
    margin-bottom: 40px;
  }
}

@media (max-width: 992px) {
  #schedule {
    background-position: center center;
    background-size: cover;
  }

  #schedule .container-fluid {
    background-color: rgba(2, 10, 65, 0.8);
  }

  #schedule .schedule {
    padding: 20px;
  }

  #schedule h1, #schedule h2 {
    background-color: transparent;
  }

  #mainNav .container {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  section h2 {
    font-size: 36px;
  }
  section.contact ul.list-social li a {
    font-size: 32px;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
  }

  header h2 {
    font-size: 24px;
  }

  section {
    padding: 20px 0;
  }

  #mainNav + section {
    padding-top: 100px;
  }

}

@media (max-width: 420px) {
  section.contact ul.list-social li a {
    font-size: 28px;
  }

  .event-dates {
    display: block;
  }

  #mainNav {
    font-size: 16px;
  }

  .logo::after {
    left: 92px;
  }

  .navbar-brand {
    height: auto;
  }

  .logo svg {
    transform: translate(-5px, -78px) scale(0.8);
  }

  .circle-hiding .logo svg {
    transform: translate(-5px, -12px) scale(0.8);
  }
}

@media (max-width: 320px) {
  body {
    font-size: 16px;
  }

  #mainNav .container {
    padding-left: 10px;
  }

  .navbar-header .navbar-toggle {
    padding-right: 8px;
    padding-left: 8px;
  }

  .navbar-header .navbar-toggle + .navbar-toggle {
    margin-right: 1px;
  }
}

#faq {
  background: #FFFFFF;
}

#faq .list-group-item {
  border: none;
}

#faq p {
  font-size: 1.2em;
}

.faq-item {
  padding: 20px 0 20px 0;
}

.faq-item h1,
.faq-item h2,
.faq-item h3,
.faq-item h4,
.faq-item h5,
.faq-item h6 {
  color: #E55454;
  font-weight: 500;
}

#form {
  width: 100%;
  height: 2200px;
}

#content:not([data-rendered=true]) {
  height: 100%;
  width: 100%;
}
