body {
  // background-color: #241f20;
  background-color: rgba(2, 10, 65, 1);
  background-image: url(../img/contact_bg-v9.jpg);
  background-size: cover;
  background-attachment: fixed;
}

header, footer {
  background-color: transparent;
  overflow: hidden;
}

@media (min-width: 768px) {
  header {
    min-height: 650px;  
  }
}

.bg-primary {
  background-attachment: fixed;
}

.navbar-toggle {
  margin: 6px;
}

header svg {
  margin-left: -60px;
}

.logo {
  position: relative;
}
.navbar-nav > li > a {
  padding-top: 7px;
  padding-bottom: 7px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .navbar-nav {
    margin: 7.5px -15px;
  }
}

#mainNav {
  border-color: transparent;
  background-color: transparent;
  color: #FFFFFF;
}

.logo svg {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(6px, -96px);
  z-index: -1;

  -moz-transition: transform 150ms cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: transform 150ms cubic-bezier(0.4,0.0,1,1);
  transition: transform 150ms cubic-bezier(0.4,0.0,1,1);
}

.circle-hiding .logo svg {
  transform: translate(6px, -5px);
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

.logo {
  margin-top: -30px;
}

.circle-hiding #mainNav {
  background-color: rgba(2, 10, 65, 1);
}

.navbar-nav {
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.logo::before,
.logo::after {
  line-height: 83px;
  font-size: 28px;
}

.logo::before {
  font-family: 'GT-Pressura-Mono-Light', monospace;
  font-weight: 100;
  content: 'Houston';
  color: #FFFFFF;
}

.logo::after {
  font-family: 'GT-Pressura-Regular', sans-serif;
  font-weight: normal;
  content: 'Hackathon';
  color: #E55454;
}

::selection {
  background: #E55454; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #E55454; /* Gecko Browsers */
}

.youtube-video-thumb {
  position: relative;
  background: url(../img/video.png);
  background-size: cover;
}

.youtube-video-thumb iframe {
  display: none;
  opacity: 0;
  -moz-transition: opacity 1s cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: opacity 1s cubic-bezier(0.4,0.0,1,1);
  transition: opacity 1s cubic-bezier(0.4,0.0,1,1);
}

.youtube-video-thumb.active iframe {
  opacity: 1;
  display: block;
}

.youtube-video-thumb .ytp-large-play-button {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  left: 0;
}

.center-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube-video-thumb .ytp-large-play-button:focus {
  outline-width: 0.5px;
}

.ytp-large-play-button-bg {
  -moz-transition: fill 50ms cubic-bezier(0.4,0.0,1,1),fill-opacity 50ms cubic-bezier(0.4,0.0,1,1);
  -webkit-transition: fill 50ms cubic-bezier(0.4,0.0,1,1),fill-opacity 50ms cubic-bezier(0.4,0.0,1,1);
  transition: fill 50ms cubic-bezier(0.4,0.0,1,1),fill-opacity 50ms cubic-bezier(0.4,0.0,1,1);
  fill: #1f1f1f;
  fill-opacity: .81;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: rgba(200, 200, 200, 1);
  color: #0624C1;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgba(200, 200, 200, 1);
}

.navbar-btn {
  font-size: inherit;
  padding: 5px 15px;
  line-height: 1em;
  margin-left: 8px;
}


.youtube-video-thumb:hover .ytp-large-play-button-bg {
  // fill: #cc181e;
  // fill: #0624C1;
  fill-opacity: 1;
  fill: rgba(200, 200, 200, 1);
}

.youtube-video-thumb:hover .ytp-large-play-button-main,
.youtube-video-thumb:hover .ytp-large-play-button-shadow {
  fill: #0624C1;
}

.youtube-video-thumb .ytp-large-play-button svg {
  width: 12%;
}

#about-and-faq {
  background: rgba(255, 255, 255, 0.85);
}

#about-and-faq .intro {
  font-size: 24px;
}

.features {
  margin-top: 60px;
  margin-bottom: 60px;
}

#workshops {
  color: #FFF;
  background-color: rgba(2, 10, 65, 1);
  background-image: none;
  border-top: 2px solid #E55454;
  border-bottom: 2px solid #E55454;
  // background-image: linear-gradient(to right, rgba(1, 12, 65, 1) -70%, rgba(3, 23, 128, 1) 40%, rgba(39, 29, 118, 1) 75%, rgba(233, 61, 61, 1) 150%);
}

#workshops .section-heading {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#workshops a:not([class]):hover,
#workshops a:not([class]):focus {
  color: #E55454;
}

.features .feature {
  margin-bottom: 100px;
}

a:not([class]) {
  color: inherit;
  text-decoration: underline;
}

a:not([class]):hover {
  // color: rgba(229, 84, 84, 1);
  color: rgba(6,36,193, 1);
}

header .btn {
  margin-right: 15px;
}

#contact {
  color: #FFFFFF;
}

#contact h2 {
  font-family: 'GT-Pressura-Mono-Regular', monospace;
}

.btn,
.navbar-default .navbar-toggle.btn[aria-expanded=false], 
.navbar-default .navbar-toggle.btn[aria-expanded=false]:focus {
  text-transform: none;
  border-radius: 0;
  text-decoration: none;
  background: rgba(200, 200, 200, 0.25);
  color: inherit;
  border-color: inherit;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar-collapse {
  border-top: inherit;
}

.btn:hover,
.btn:focus,
.btn:active,
.navbar-default .navbar-toggle.btn[aria-expanded=true],
.navbar-default .navbar-toggle.btn[aria-expanded=false]:hover,
.list-group-item .btn.btn-outline:hover,
.list-group-item .btn.btn-outline:focus,
.list-group-item:hover .btn.btn-outline {
  color: rgba(6,36,193, 1);
  border-color: rgba(6,36,193, 1);
  background-color: rgba(200, 200, 200, 1);
  outline: none;

  -webkit-box-shadow: 0.45em 0.45em 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0.45em 0.45em 0px 0px rgba(0,0,0,1);
  box-shadow: 0.45em 0.45em 0px 0px rgba(0,0,0,1);
}

// .btn-outline:hover,
// .btn-outline:focus,
// .btn-outline:active,
// .btn-outline.active {
//   background-color: transparent;
// }

.btn-xl {
  padding: 20px;
  font-size: 1.2em;
}

@media (max-width: 766px) {
  .container > .navbar-collapse.in,
  .container-fluid > .navbar-collapse.in,
  .container > .navbar-collapse.collapsing,
  .container-fluid > .navbar-collapse.collapsing {
    width: 118px;
    margin-left: auto;
    text-align: right;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgba(2, 10, 65, 1);
  }

  .circle-hiding #mainNav {
    background-color: transparent;
  }

  .circle-hiding #mainNav .navbar-header {
    background-color: rgba(2, 10, 65, 1);
  }

  .logo::before,
  .logo::after {
    position: absolute;
    z-index: 1;
  }

  .logo svg {
    z-index: 0;
  }

  .logo::after {
    left: 118px;
  }
}

.list-group-item {
  margin-bottom: 20px;
}

.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6 {
  color: #E55454;
  font-weight: 500;
  margin-bottom: 0;
}

#workshops .list-group-item p,
#workshops .list-group-item i {
  font-size: 0.8em;
  display: block;
}

#workshops .list-group-item .details {
  display: none;
}

.list-group-item .btn.btn-outline {
  font-size: inherit;
  line-height: inherit;
  border-color: #555;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .youtube-video-thumb {
    margin-bottom: 20px;
  }

  #about-and-faq {
    text-align: center;
  }

  header .btn {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  section h2 {
    font-size: 36px;
  }
  section.contact ul.list-social li a {
    font-size: 32px;
    height: 1.5em;
    width: 1.5em;
    line-height: 1.5em;
  }
}

#faq {
  background: #FFFFFF;
}

#faq .list-group-item {
  border: none;
}