<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="evan oneil">

  <!-- OG section -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@sketchcityhou" />
  <meta name="twitter:creator" content="@sketchcityhou" />
  <meta property="og:url" content="http://houstonhackathon.com" />
  <meta property="og:title" content="Houston Hackathon 2019" />
  <meta property="og:description" content="24 hours to help solve civic issues together at The Cannon
    Saturday May 18 + Sunday May 19" />
  <meta property="og:image" content="http://raw.githubusercontent.com/sketch-city/hh-2017-site/gh-pages/hh2018-opengraph.png" />


  <title>Houston Hackathon 2018</title>


  <!-- Bootstrap Core CSS -->
  <link href="//houstonhackathon.com/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
<!--  -->
  <!-- Custom Fonts -->
  <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//houstonhackathon.com/css/pressura-mono.css">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="//houstonhackathon.com/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="//houstonhackathon.com/vendor/simple-line-icons/css/simple-line-icons.css">

  <!-- Theme CSS -->
  <link href="//houstonhackathon.com/css/new-age.css" rel="stylesheet">
  <link href="../css/custom.css" rel="stylesheet">

  <!-- Google Analytics -->
  <script>
  (function(i, s, o, g, r, a, m) {
	i["GoogleAnalyticsObject"] = r;
	(i[r] =
		i[r] ||
		function() {
			(i[r].q = i[r].q || []).push(arguments);
		}), (i[r].l = 1 * new Date());
	(a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
	a.async = 1;
	a.src = g;
	m.parentNode.insertBefore(a, m);
})(window, document, "script", "https://www.google-analytics.com/analytics.js", "ga");
ga("create", "UA-92058017-1", "auto");
ga("send", "pageview");
</script>

  <script type="text/javascript">
  setTimeout(function() {
	var a = document.createElement("script");
	var b = document.getElementsByTagName("script")[0];
	a.src =
		document.location.protocol +
		"//script.crazyegg.com/pages/scripts/0063/1681.js?" +
		Math.floor(new Date().getTime() / 3600000);
	a.async = true;
	a.type = "text/javascript";
	b.parentNode.insertBefore(a, b);
}, 1);
</script>

  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="//houstonhackathon.com/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="//houstonhackathon.com/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="//houstonhackathon.com/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="//houstonhackathon.com/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="//houstonhackathon.com/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="//houstonhackathon.com/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="//houstonhackathon.com/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="//houstonhackathon.com/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="//houstonhackathon.com/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="//houstonhackathon.com/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="//houstonhackathon.com/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="//houstonhackathon.com/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="//houstonhackathon.com/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="//houstonhackathon.com/favicon.ico" />
  <link rel="manifest" href="//houstonhackathon.com/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>

<body id="page-top">

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="//houstonhackathon.com/">
          <!-- <img src="img/logo.png"> -->
          <div id="logo" class="logo">
            <svg id="logo-image" width="96" height="96"></svg>
          </div>
        </a>
        <button type="button" class="navbar-toggle collapsed btn btn-outline" data-toggle="collapse" data-target="#menu">
          <span class="sr-only">Toggle navigation</span> <i class="fa fa-bars"></i>
        </button>
        <a class="btn btn-outline navbar-btn navbar-toggle" href="https://www.meetup.com/sketchcity/events/258707439/" target="_blank">RSVP</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-right">
        <ul class="nav navbar-nav collapse navbar-collapse" id="menu">
          <li>
            <a class="page-scroll" href="http://houstonhackathon.com/#schedule">Schedule</a>
          </li>
          <li>
            <a href="http://houstonhackathon.com/faq/">FAQs</a>
          </li>
          <li>
            <a href="http://houstonhackathon.com/resources/">Resources</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/sketch-city/project-ideas/issues">Projects</a>
          </li>
        </ul>
        <a class="btn btn-outline navbar-btn hidden-xs" href="https://www.meetup.com/sketchcity/events/258707439/" target="_blank">RSVP</a>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div id="content"></div>

  <section id="contact" class="contact bg-primary">
    <div class="container">
      <h2>Fire up your collaboration engines!</h2>
      <ul class="list-inline list-social">

        <li class="btn btn-outline">
          <a target="_blank" href="https://www.facebook.com/groups/openhoustongov/"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="btn btn-outline">
          <a target="_blank" href="http://github.com/sketch-city"><i class="fa fa-github"></i></a>
        </li>
        <li class="btn btn-outline">
          <a target="_blank" href="https://join.slack.com/t/sketchcity/shared_invite/enQtMzU0MDMzMTExNjgyLTVhOWY0M2VlNmJhYmU5Mjg5ZThmNjdmOGNjNDVhMjEyYTM4Njg1ZWFmZDBkZDFmNTVjYWMzYmQyMjc3YmMzYWY"><i class="fa fa-slack"></i></a>
        </li>
        <li class="btn btn-outline">
          <a target="_blank" href="https://www.meetup.com/sketchcity/"><i class="fa fa-meetup" aria-hidden="true"></i></a>
        </li>
        <li class="btn btn-outline">
          <a target="_blank" href="mailto:info@sketchcity.org"><i class="fa fa-envelope"></i></a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2019 Sketch City. All Rights Reserved.</p>
      <ul class="list-inline">
        <li>
          <a href="mailto:info@sketchcity.org">Contact Us</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- jQuery -->
  <script src="//houstonhackathon.com/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="//houstonhackathon.com/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

  <script type="text/javascript" src="https://unpkg.com/in-view/dist/in-view.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.18.10/URI.min.js"></script>

  <script src="../js/main.js"></script>
</body>

</html>
